.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 57px auto 0 492px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 259px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 84px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 24px auto 11px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 406px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 311px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 233px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 149px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 147px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 94px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 890px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  font-size: 1.25rem;
  margin-top: 20px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 104px;
  margin: -232px auto 0 20px;
}

.u-section-2 .u-group-1 {
  --radius: 30px;
  width: 570px;
  min-height: 56px;
  height: auto;
  margin: -180px auto 0 20px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 17px;
  padding-right: 17px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 13px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  margin: 264px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 12px 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  margin: -64px 167px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  margin: -34px 59px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  margin: -2px auto 30px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 99px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-top: -175px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 62px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -138px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1316px;
}

.u-section-3 .u-accordion-1 {
  margin-bottom: 53px;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-1 {
  font-size: 1.375rem;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 5765px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 30px;
}

.u-section-3 .u-group-1 {
  --radius: 30px;
  width: 235px;
  min-height: 52px;
  height: auto;
  margin: -317px auto 0 18px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-3 .u-group-2 {
  --radius: 30px;
  width: 235px;
  min-height: 52px;
  height: auto;
  margin: 31px auto 0 18px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 768px;
  height: 130px;
  margin: -135px 88px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 768px;
  height: 126px;
  margin: 17px 88px 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 44px 42px 0 18px;
}

.u-section-3 .u-group-3 {
  --radius: 30px;
  width: 470px;
  min-height: 53px;
  height: auto;
  margin: -5008px auto 0 30px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: -112px auto 0 273px;
  padding: 0;
}

.u-section-3 .u-group-4 {
  --radius: 30px;
  width: 470px;
  min-height: 53px;
  height: auto;
  margin: 266px auto 0 30px;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-6 {
  margin: 6px auto 0 30px;
}

.u-section-3 .u-group-5 {
  --radius: 30px;
  width: 470px;
  min-height: 53px;
  height: auto;
  margin: -544px auto 0 30px;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-6 {
  --radius: 30px;
  width: 470px;
  min-height: 53px;
  height: auto;
  margin: 497px auto 0 30px;
}

.u-section-3 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-8 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-7 {
  --radius: 30px;
  min-height: 53px;
  height: auto;
  width: 470px;
  margin: 316px auto 0 30px;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-9 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 459px auto 0 30px;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 30px;
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 570px;
  height: 471px;
  margin: 132px auto 0 40px;
}

.u-section-3 .u-image-4 {
  width: 538px;
  height: 525px;
  margin: 109px auto 0 40px;
}

.u-section-3 .u-image-5 {
  width: 548px;
  height: 542px;
  margin: 109px auto 0 30px;
}

.u-section-3 .u-image-6 {
  width: 509px;
  height: 498px;
  margin: 88px auto 0 40px;
}

.u-section-3 .u-image-7 {
  width: 483px;
  height: 478px;
  margin: 109px auto 0 40px;
}

.u-section-3 .u-image-8 {
  width: 483px;
  height: 485px;
  margin: 90px auto 122px 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 73px;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-group-7 {
    height: auto;
  }

  .u-section-3 .u-image-4 {
    height: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    width: 720px;
    height: 122px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 720px;
    height: 118px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 92px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 89px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    width: 540px;
    height: 446px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    width: 540px;
    height: 534px;
    margin-left: 0;
  }

  .u-section-3 .u-image-6 {
    margin-left: 31px;
  }

  .u-section-3 .u-image-7 {
    margin-left: 31px;
  }

  .u-section-3 .u-image-8 {
    margin-left: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 340px;
    height: 58px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 56px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-group-4 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-group-5 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-group-6 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-group-7 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 281px;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 331px;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 336px;
  }

  .u-section-3 .u-image-6 {
    width: 340px;
    height: 333px;
    margin-left: 0;
  }

  .u-section-3 .u-image-7 {
    width: 340px;
    height: 336px;
    margin-left: 0;
  }

  .u-section-3 .u-image-8 {
    width: 340px;
    height: 341px;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 294px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 60px auto 0 65px;
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 33px;
  height: 27px;
  margin: -27px auto 60px 32px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}